p{
    font-family: 'Courier New', Courier, monospace;
    color:blueviolet
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    text-decoration: line-through;
    font-size: 14;
    text-shadow: 0cqi;
}